extends layout

block content
      .mainpicdiv
          a.button1(href='/appointment') Book an Appointment
          a.button2(href='/contact') Find Our Location
          img.mainpic(src='mainpic.jpg', alt='Oakfield Health')