doctype html
html
  head
    meta(charset='UTF-8')
    link(rel='stylesheet', href='app.css', type='text/css')
    title Oakfield Health
  body
    .header
      .nav
        .topnav
          .logo-div
            img.logo(alt='Oakfield Health', src='logo.png')
          .contact-info Phone: 046905467388 &nbsp&nbsp&nbsp Email: oakfield@health.ie
          a(href='/index') Home
          a(href='/services') Services
          a(href='/staff') Staff
          a(href='/academic') Academic Section
          a.contact-anchor(href='/contact') Contact Us
          block content
    .footer
      p Robert Carroll 2018 &copy
